{% extends 'base/base_guest.html' %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
        <h4 class="text-center">Login</h4>
        <form method="POST" class="mt-3 p-4 border rounded shadow bg-white">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    <!-- Manually add 'is-invalid' class if field has errors -->
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.name }}" 
                        class="form-control {% if field.errors %}is-invalid{% endif %}" 
                        placeholder="{{ field.field.widget.attrs.placeholder }}" 
                        value="{{ field.value|default_if_none:'' }}"
                    >
                    {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <hr class="hr">
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary w-100" href="{% url 'core:password_reset' %}">Forgot Password?</a>
            </div>
            <div class="col">
                <a class="btn btn-secondary w-100" href="{% url 'core:register' %}">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
